@model WebApplication3.Models.User

@{
    ViewData["Title"] = "Home Page";
    ViewBag.HideTopNavBar = true;
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}